<!-- <div class="container" *ngIf="!isAuthenticated">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">Application for Tracking VIP Buses</p>
      <p class="text-center">
        <button class="btn btn-primary" (click)="oktaAuth.loginRedirect()">
          Log in
        </button>
      </p>
    </div>
  </div>
</div>
<div class="container" *ngIf="isAuthenticated">
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn" (click)="oktaAuth.logout()">Log out</button>
    </div>
  </div>
   -->
<div class="row">
  <div class="col-md-4">
    <app-addor-update
      (busCreated)="createOrUpdateBus($event)"
      [busInfo]="currentBus"
    ></app-addor-update>
  </div>

  <div class="col-md-8">
    <app-bus-list
      [BusData]="BusData"
      (editClicked)="editClicked($event)"
      (newClicked)="newClicked()"
      (recordDeleted)="deleteClicked($event)"
    ></app-bus-list>
  </div>
</div>
<!-- </div> -->
